* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;


}

p {
    text-align: center;
    line-height: 100vh;
    text-transform: uppercase;
    font-size: 5vh;
    text-decoration-line: underline;


}